@import './base.css';
/* @import 'element-plus/theme-chalk/dark/css-vars.css'; */
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    PingFang SC,
    Hiragino Sans GB,
    noto sans,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

/* html.dark {
  --el-color-primary: #a855f7;
  --el-color-primary-light-1: #d8b4fe;
  --el-color-primary-dark-1: #9333ea;
} */

body,
html,
#app {
  height: 100vh;
}

::-webkit-scrollbar-track {
  border-radius: calc(infinity * 1px);
  background-color: #f3f4f6;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: calc(infinity * 1px);
  background-color: #d1d5dc;
}

.dark ::-webkit-scrollbar-track {
  background-color: #404040;
}

&::-webkit-scrollbar-thumb {
  background-color: #737373;
}

.el-drawer__header {
  /* 假设你原来有 margin-bottom: 20px */
  margin-bottom: 20px;
  position: relative; /* 伪元素基于这个定位 */
}

.el-drawer__header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  /* 垂直位置正好在 margin 底部 */
  bottom: -20px; /* 与 margin-bottom 保持一致 */
  border-bottom: 1px solid #dcdfe6;
}
